<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter's Online Shop 2024</title>
</head>
<body>

<div th:fragment="headerFragment">


    <div class="headers">
        <h1>Peter's Online Shop 2024</h1>

        <nav>
            <a th:href="@{/}">Home Page</a> |
            <a th:href="@{/product}">Product</a> |
            <a th:href="@{/shopping}">Shopping</a> |
            <a th:href="@{/checkout}">Checkout</a>
        </nav>
    </div>
</div>
</body>
</html>

