/* General Styles */
body, html {
    padding: 0;
    width: 500px;
}

/* Header and Footer Styles */
.headers {
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 2px solid #000; /* Line at the bottom of the header */
}

.footers {
    margin-top: 25px;
    padding-left: 5px;
    border-top: 2px solid #000; /* Line at the top of the footer */
}


/* Main Content Styles */
.main-content {
    width: 50%; /* Main content takes up half the page */
    margin: 20px auto; /* Center the content */
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: Add shadow for better visibility */
}

/* Table Styles */
table {
    border: 1px solid;
    background-color: #d6eeee; /* Light green background */
}

table, th, td {
    border: 1px solid; /* Solid borders for table, th, and td */
}

th {
    border: 1px solid;

    background-color: #d6eeee;

}

td {
    border: 1px solid;
    text-align: left;
}

/* Checkout Page Styles */
.checkout-line {
    border-top: 1px solid #ccc;
    padding-top: 10px; /* Space above the line */
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="number"],
button {
    width: calc(100% - 22px); /* Account for padding and borders */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Utility Classes */
.hidden {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content, footer {
        width: 100%;
        left: 0;
    }
}
