<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<header th:replace="fragments/header :: headerFragment"></header>

<h1>Checkout Page</h1>

<table>
    <thead>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.id}">Product Id</td>
        <td th:text="${item.product.name}">Product Name</td>
        <td th:text="${item.product.price}">Product Price</td>
    </tr>
    </tbody>
</table>

<!-- Totals Table -->
<table>
    <tr>
        <td>Subtotal</td>
        <td><span th:text="${subtotal}">0.0</span></td>
    </tr>
    <tr>
        <td>Sale Tax (13%)</td>
        <td><span th:text="${tax}">0.0</span></td>
    </tr>
    <tr>
        <td>Total</td>
        <td><span th:text="${total}">0.0</span></td>
    </tr>
</table>




<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>
</html>
