<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Online Shopping Website</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>


<header th:replace="~{fragments/header :: headerFragment}"></header>

<main>
    <p>Welcome to Our Online Shopping Website.</p>
    <img src="/images/istockphoto-1429456277-170667a.jpg">
</main>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>


</body>
</html>

