<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<header th:replace="~{fragments/header :: headerFragment}"></header>

<h1>Shopping Page</h1>

<table>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Action</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a href="#" th:href="@{/shopping/add-to-cart/{productId}(productId=${product.id})}">
                <img src="/images/shopping-cart-icon-flat-design-600nw-570153007.jpg" alt="Add to Cart" />
            </a>
        </td>
    </tr>
</table>

<table>

    <tr>
        <th>Items in the shopping cart</th>

    </tr>
    <tr>
        <td><span th:text="${cartItemCount}"></span></td>
    </tr>
</table>


<footer th:replace="~{fragments/footer :: footerFragment}"></footer>

</body>
</html>
