<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<header th:replace="~{fragments/header :: headerFragment}"></header>

<h1>Shopping Page</h1>

<table>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Action</th>
    </tr>

    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <form th:action="@{/shopping/add-to-cart}" method="post">
                <input type="hidden" th:name="productId" th:value="${product.id}" />
                <input type="image" src="/images/shopping-cart-icon-flat-design-600nw-570153007.jpg" alt="Add to Cart" class="add-to-cart-btn" />

            </form>

        </td>

    </tr>

</table>

<table>

    <tr>
        <th>Items in the shopping cart</th>

    </tr>
    <tr>
        <td><p>Total items: <span th:text="${cartSize}">0</span></p></td>
    </tr>
</table>


<footer th:replace="~{fragments/footer :: footerFragment}"></footer>

</body>
</html>
