<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<header th:replace="fragments/header :: headerFragment"></header>

<h1>Shopping Page</h1>

<table>
    <thead>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">760618965</td>
        <td th:text="${product.name}">Ipad Pro 12</td>
        <td th:text="${product.price}">2200.0</td>
        <td>
            <form th:action="@{/add-to-cart}" method="post">
                <input type="hidden" th:name="productId" th:value="${product.id}" />
                <button type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>
</html>
